<div class="container px-4 py-5">

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="col d-flex flex-column align-items-start gap-2">
        <h2 class="display-4 fw-bold text-body-emphasis">Try it out</h2>
        <p class="lead fs-3">Spectra is a complex system that requires a lot of moving parts to work - so testing it and seeing
            what it looks like can be a hassle. We have created a live demo so it is quick and easy!</p>
        <img src="assets/backgrounds/demo-pic-closeup2.webp" alt="Close-up picture of the demo" style="height: 8em;"/>
        <a href="https://auto.valospectra.com/testing" target="_blank" class="btn btn-primary btn-lg">Launch Demo</a>
      </div>

      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                <i class="bi-hand-index-thumb"></i>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Interactive</h4>
            <p class="lead">See how it behaves in real time by the click of a button</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                <i class="bi-badge-hd"></i>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">1080p Resolution</h4>
            <p class="lead">Easily add it to your streaming software of choice using a browser source.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                <i class="bi-images"></i>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Different backgrounds</h4>
            <p class="lead">Get a feel how Spectra looks during the game. Or use the transparent background to see how it looks in your existing stream.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                <i class="bi-calendar-check"></i>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Up to date</h4>
            <p class="lead">Always includes the latest
                features and changes. What you see here is what you get!</p>
          </div>
        </div>
      </div>
    </div>
  </div>