<nav
  class="navbar navbar-expand-md bg-dark border-bottom py-0"
  data-bs-theme="dark"
>
  <div class="container">
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvas"
      aria-labelledby="offcanvasLabel"
    >
      <div class="offcanvas-body">
        <ul class="navbar-nav flex-grow-1 justify-content-center">
          <li class="nav-item active mx-5 fs-5 fw-normal">
            <a class="nav-link" href="./" target="_self">
              <img
                height="28px"
                width="28px"
                src="assets/profile-pictures/logo.webp"
                alt="Spectra Logo"
                class="bi"
              />
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-5 fs-5 fw-normal" href="./live-demo">Demo</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link mx-5 fs-5 fw-normal"
              href="https://discord.gg/nWWXqqK6tz"
              target="_blank"
              >Discord</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link mx-5 fs-5 fw-normal"
              href="https://github.com/orgs/ValoSpectra/repositories"
              target="_blank"
              >GitHub</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link mx-5 fs-5 fw-normal"
              href="./download"
              target="_self"
              >Client Download</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link mx-5 fs-5 fw-normal"
              href="./credits"
              target="_self"
              >Credits</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
