<div class="cover-backdrop d-flex h-100 text-center text-bg-dark">
    <div class="clipshow-wrapper">
        <video autoplay muted loop class="clipshow">
            <source src="assets/backgrounds/clipshow.webm" type="video/webm">
        </video>
    </div>
    <div class="cover-content h-100 w-100">
        <div class="cover-container d-flex p-3 mx-auto flex-column align-items-center font-unbounded">
            <img src="assets/profile-pictures/logo_text.webp" alt="Spectra Logo" class="cover-logo">
            <!-- <h1 class="display-3 fw-bold text-light">Spectra</h1> -->
            <h3 class="fw-normal mb-3 text-light">The spectator overlay for Valorant</h3>
            <p class="lead">
                <a href="#introduction" class="btn btn-lg border-white text-light">Learn more</a>
            </p>
        </div>
    </div>
</div>