.cover-container {
    margin: auto;
    max-width: 42em;
    max-height: 24em;
    // background-color: rgba($color: gray, $alpha: 0.7);
    background-color: RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 0.7));
    border-radius: 8em;
}

.cover-backdrop {
    background-image: url(/assets/backgrounds/background_preview.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

.cover-content {
    align-content: center;
}