<div class="container px-4 py-5" id="hanging-icons">
    <!-- <h2 class="pb-2 border-bottom">Hanging icons</h2> -->
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
            <div
                class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <img class="feature-img" loading="lazy" src="assets/profile-pictures/yt_icon_rgb.png" alt="Youtube logo">
            </div>
            <div>
                <h3 class="fs-2 text-body-emphasis">See Spectra in action</h3>
                <p>Watch a demonstration of what Spectra does and what it looks like, taken from the Underpeel Grand
                    Finals!</p>
                <a href="https://youtu.be/VAAFiwqgxCA?t=4170" target="_blank" class="btn btn-primary">
                    Watch Demo
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div
                class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <img class="feature-img" loading="lazy" src="assets/profile-pictures/discord-mark-blue.png" alt="Discord logo">
            </div>
            <div>
                <h3 class="fs-2 text-body-emphasis">Join our Discord server</h3>
                <p>Want to try it out yourself? Have a burning question? Find us on our Discord server and send a
                    message!</p>
                <a href="https://discord.gg/nWWXqqK6tz" target="_blank" class="btn btn-primary">
                    Join Server
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div
                class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <img class="feature-img" loading="lazy" src="assets/profile-pictures/github-mark.png" alt="Github logo">
            </div>
            <div>
                <h3 class="fs-2 text-body-emphasis">Fully open-source</h3>
                <p>The entire project can be found on GitHub. Go take a look and leave a star if you like the project!</p>
                <a href="https://github.com/orgs/ValoSpectra/repositories" target="_blank" class="btn btn-primary">
                    Visit GitHub
                </a>
            </div>
        </div>
    </div>
</div>