.img-round {
    border-radius: 50% 50% 50% 50%;
    aspect-ratio: 1;
}

.img-dark-background {
    background-color: RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 1)) 
}

.ws-preline {
    white-space: pre-line;
}