<div>
    <comp-NavBar class="sticky-top" *ngIf="scrolled" [@navFade]></comp-NavBar>
    <div class="full-height d-flex flex-column">
        <comp-coverComponent class="flex-fill"></comp-coverComponent>
    </div>
    <main>
        <comp-contentDivider></comp-contentDivider>

        <comp-contentHero id="introduction" title="Your Valorant Tournament Overlay" content="Are you currently planning or running 
        a Valorant tournament? Improve your tournaments production
        quality with Spectra, the live Valorant tournament overlay! Display important information the default
        Valorant observer experience doesn't conveniently provide, such as player stats, round history, and more!
        It's easy to use and ready to go at a moment's notice. We can provide you with everything you need
        to get started right away!" imagePos="center" border></comp-contentHero>

        <comp-iconFeatures></comp-iconFeatures>

        <comp-contentDivider></comp-contentDivider>

        <comp-contentHero id="liveDemo" title="Try out our Live Demo!"
            content="Want to see Spectra in action? Check out our live demo, where you can interact with the overlay and see how it behaves in real-time!"
            imageSrc="assets/backgrounds/liveDemo_preview.webp" imageAlt="Spectra Demo Preview" imagePos="left"
            button1Text="Learn More" button1Href="./live-demo" button2Text="Open Demo Mode"
            button2Href="https://auto.valospectra.com/testing" button2Target="_blank"></comp-contentHero>
        <comp-contentDivider></comp-contentDivider>

        <comp-contentHero id="liveDemo" title="Want to use Spectra?"
            content="Join our Discord server! We're here to help you get started and can provide you with everything you need - free of charge. With servers in Europe and North America, Spectra is available wherever you are. Enhance your Valorant tournaments today!"
            imageSrc="assets/profile-pictures/discord-logo-blue.webp" imageAlt="Discord Logo" imagePos="right"
            button1Text="Join Discord Server" button1Href="https://discord.gg/nWWXqqK6tz"
            button1Target="_blank"></comp-contentHero>
        <comp-contentDivider></comp-contentDivider>

        <comp-featuresComponent></comp-featuresComponent>
        <comp-contentDivider></comp-contentDivider>

        <comp-contentHero title="Credits - Everyone who helped build Spectra"
            content="Interested in the team behind Spectra? Discover everyone who contributed the project in some way!"
            imagePos="left" imageSrc="assets/profile-pictures/logo.webp" button1Text="View Credits" button1Href="./credits"></comp-contentHero>
        <comp-contentDivider></comp-contentDivider>
    </main>

    <comp-FooterBar></comp-FooterBar>
</div>