.image {
    max-height: 260px;
    align-self: center;
    margin: auto;
}

.round {
    border-radius: 50% 50% 50% 50%;
}

.container {
    max-width: 960px;
}

.image-link {
    text-decoration: none;
    color: inherit;
}