<main>
  <comp-NavBar class="sticky-top"></comp-NavBar>
  <div
    class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center text-bg-dark img-background"
  >
    <div class="col-md-6 mx-auto">
      <img class="logo-image" src="assets/profile-pictures/logo_text.webp" />
      <h2 class="display-3 fw-bold text-light">Spectra Client Download</h2>
      <h3 class="fw-normal mb-3 text-light">
        Download the latest version of the Spectra Client using the button
        below!
      </h3>
      <button
        class="btn btn-lg btn-primary"
        onclick="window.open('https://github.com/ValoSpectra/Spectra-Client/releases/latest/download/Spectra-Client-Setup.exe')"
      >
        Download
      </button>
    </div>
  </div>
</main>

<comp-FooterBar></comp-FooterBar>
