<footer class="container footer-size">
    <div class="row">
        <div class="col-12 col-md align-content-center text-center">
            <img height="64px" width="64px" src="assets/profile-pictures/logo.webp" alt="Spectra Logo"/>
            <small class="d-block mb-3 text-body-secondary">&copy; 2024 Spectra Team.</small>
        </div>
        <div class="col-12 col-md text-center">
            <h5>GitHub Repositories</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none" href="https://github.com/ValoSpectra/Spectra-Website">Website</a></li>
                <li><a class="link-secondary text-decoration-none" href="https://github.com/ValoSpectra/Spectra-Client">Client</a></li>
                <li><a class="link-secondary text-decoration-none" href="https://github.com/ValoSpectra/Spectra-Server">Server</a></li>
                <li><a class="link-secondary text-decoration-none" href="https://github.com/ValoSpectra/Spectra-Frontend">Overlay</a></li>
            </ul>
        </div>
        <div class="col-12 col-md text-center align-content-center">
            <h5>Feedback/Questions</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none" href="https://discord.gg/nWWXqqK6tz">Discord</a></li>
                <li><a class="link-secondary text-decoration-none" href="https://github.com/orgs/ValoSpectra/repositories">GitHub Issues</a></li>
            </ul>
        </div>
    </div>
</footer>