<footer class="container footer-size">
    <div class="row">
        <div class="col-12 col-md align-content-center text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="4em" height="4em" fill="none" stroke="currentColor"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2 mx-auto" role="img"
                viewBox="0 0 24 24">
                <title>Spectra Logo</title>
                <circle cx="12" cy="12" r="10" />
                <path
                    d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94" />
            </svg>
            <small class="d-block mb-3 text-body-secondary">&copy; 2024 Spectra Team.</small>
        </div>
        <div class="col-12 col-md text-center">
            <h5>GitHub Repositories</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none" href="https://github.com/ValoSpectra/Spectra-Website">Website</a></li>
                <li><a class="link-secondary text-decoration-none" href="https://github.com/ValoSpectra/Spectra-Client">Client</a></li>
                <li><a class="link-secondary text-decoration-none" href="https://github.com/ValoSpectra/Spectra-Server">Server</a></li>
                <li><a class="link-secondary text-decoration-none" href="https://github.com/ValoSpectra/Spectra-Frontend">Overlay</a></li>
            </ul>
        </div>
        <div class="col-12 col-md text-center align-content-center">
            <h5>Feedback/Questions</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none" href="https://discord.gg/nWWXqqK6tz">Discord</a></li>
                <li><a class="link-secondary text-decoration-none" href="https://github.com/orgs/ValoSpectra/repositories">GitHub Issues</a></li>
            </ul>
        </div>
    </div>
</footer>